# Writing Your First Python Code

## Objectives

 After completing this lab you will be able to:

* Write basic code in Python
* Work with various types of data in Python
* Convert the data from one type to another
* Use expressions and variables to perform operations */

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#hello">Say "Hello" to the world in Python</a>
            <ul>
                <li><a href="version">What version of Python are we using?</a></li>
                <li><a href="comments">Writing comments in Python</a></li>
                <li><a href="errors">Errors in Python</a></li>
                <li><a href="python_error">Does Python know about your error before it runs your code?</a></li>
                <li><a href="exercise">Exercise: Your First Program</a></li>
            </ul>
        </li>
        <li>
            <a href="#types_objects">Types of objects in Python</a>
            <ul>
                <li><a href="int">Integers</a></li>
                <li><a href="float">Floats</a></li>
                <li><a href="convert">Converting from one object type to a different object type</a></li>
                <li><a href="bool">Boolean data type</a></li>
                <li><a href="exer_type">Exercise: Types</a></li>
            </ul>
        </li>
        <li>
            <a href="#expressions">Expressions and Variables</a>
            <ul>
                <li><a href="exp">Expressions</a></li>
                <li><a href="exer_exp">Exercise: Expressions</a></li>
                <li><a href="var">Variables</a></li>
                <li><a href="exer_exp_var">Exercise: Expression and Variables in Python</a></li>
            </ul>
        </li>
    </ul>
    <p>
        Estimated time needed: <strong>25 min</strong>
    </p>
</div>

<hr>

<h2 id="hello">Say "Hello" to the world in Python</h2>

When learning a new programming language, it is customary to start with an "hello world" example. As simple as it is, this one line of code will ensure that we know how to print a string in output and how to execute code within cells in a notebook.

In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [ ]:
After executing the cell above, you should see that Python prints <code>Hello, Python!</code>. Congratulations on running your first Python code!

<h3 id="version">What version of Python are we using?</h3>
<p>
    There are two popular versions of the Python programming language in use today: Python 2 and Python 3. The Python community has decided to move on from Python 2 to Python 3, and many popular libraries have announced that they will no longer support Python 2.
</p>
<p>
    Since Python 3 is the future, in this course we will be using it exclusively. How do we know that our notebook is executed by a Python 3 runtime? We can look in the top-right hand corner of this notebook and see "Python 3".
</p>
<p>
    We can also ask Python directly and obtain a detailed answer. Try executing the following code:
</p>

In [3]:
import sys
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

<h3 id="comments">Writing comments in Python</h3>

<p>
    In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help <strong>other people</strong> understand your code, it can also serve as a reminder <strong>to you</strong> when you come back to it weeks or months later.</p>

<p>
    To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything past the <code>#</code> on a given line.
</p>

In [5]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

After executing the cell above, you should notice that This line prints a string did not appear in the output, because it was a comment (and thus ignored by Python).

The second line was also not executed because print('Hi') was preceded by the number sign (#) as well! Since this isn't an explanatory comment from the programmer, but an actual line of code, we might say that the programmer commented out that second line of code.

<h3 id="errors">Errors in Python</h3>

<p>Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is important to read error messages carefully to really understand where you made a mistake and how you may go about correcting it.</p>
<p>For example, if you spell <code>print</code> as <code>frint</code>, Python will display an error message. Give it a try:</p>

In [ ]:
# Print string as error message

frint("Hello, Python!")

<p>The error message tells you: 
<ol>
    <li>where the error occurred (more useful in large notebook cells or scripts), and</li> 
    <li>what kind of error it was (NameError)</li> 
</ol>
<p>Here, Python attempted to run the function <code>frint</code>, but could not determine what <code>frint</code> is since it's not a built-in function and it has not been previously defined by us either.</p>

In [ ]:
# Try to see built-in error message

print("Hello, Python!)

<h3 id="python_error">Does Python know about your error before it runs your code?</h3>

Python is what is called an <em>interpreted language</em>. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

Exercise: Your First Program
Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.

In the code cell below, use the print() function to print out the phrase: Hello, world!
Now, let's enhance your code with a comment. In the code cell below, print out the phrase: Hello, world! and comment it with the phrase Print the traditional hello world all in one line of code.

Types of objects in Python
Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [9]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [11]:
# Print the type of 0.5

type(0.5)

float

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [13]:
# Convert integer 2 to a float and check its type

type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [15]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [17]:
# Convert the string "1.2" into a float

float('1.2')

1.2

<h4>Converting numbers to strings</h4>

In [19]:
# Convert an integer to a string

str(1)

'1'

In [21]:
# Convert a float to a string

str(1.2)

'1.2'

<h3 id="bool">Boolean data type</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [23]:
# Value true

True

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

# Value false

False

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [25]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

What is the type of the result of: 6 // 2? (Note the double slash //.)

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [66]:
# Addition operation expression

43 + 60 + 16 + 41

160

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [71]:
# Subtraction operation expression

50 - 60

-10

<p>We can do multiplication using an asterisk:</p>

In [74]:
# Multiplication operation expression

5 * 5

25

<p>We can also perform division with the forward slash:

In [77]:
# Division operation expression

25 / 5

5.0

In [79]:
# Division operation expression

25 / 6

4.166666666666667

In [81]:
# Integer division operation expression

25 // 5

5

In [83]:
# Integer division operation expression

25 // 6

4

Let's write an expression that calculates how many hours there are in 160 minutes:

In [86]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
# 60 Minute= 1 hour
print(160//60)

2

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [89]:
# Mathematical expression

30 + 2 * 60

150

And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [93]:
# Mathematical expression

(30 + 2) * 60

1920

Variables
Just like with most programming languages, we can store values in variables, so we can use them later on. For example:

In [99]:
# Store value into a variable

x = 43 + 60 + 16 + 41

To see the value of x in a Notebook, we can simply place it on the last line of a cell:

In [101]:
# Print out the value in variable

x

160

We can also perform operations on x and save the result to a new variable:

In [104]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [107]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [109]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In the cells above we added the length of three albums in minutes and stored it in total_min. We then divided it by 60 to calculate total length total_hours in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.

If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., //).

Exercise: Expression and Variables in Python

What is the value of x where x = 3 + 2 * 2

In [115]:
x=3+2*2
print(x)

7

What is the value of y where y = (3 + 2) * 2?

In [120]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
print(y)

10